aside {
  background: #FFF;
  width: 320px;
  padding: 30px 20px;
  border-radius: 2px;
  margin-top: 65px;
  height: 400px;
}

aside strong {
  font-size: 20px;
  color: #333;
  text-align: center;
  display: block;
}

aside form {
  margin-top: 30px;
}

aside form .input-block {
  margin-top: 20px;
}

aside form .input-block label {
  color:#ACACAC;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

aside form .input-block input {
  width: 100%;
  height: 32px;
  font: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}

aside button {
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: darkslateblue;
  border-radius: 2px;
  padding: 15px 30px;

  font-size: 16px;
  font-weight: bold;
  color: #FFFF;
  cursor: pointer;
  transition: background 0.5s;
}

aside button:hover {
  background: darkblue;
}